<div class="top">
 <div class="searchBox">
  <input class="input" style="width: 30em;" type="text"/><input class="submit " value="search" type="button"/>
  <div><span class="resultSummary"></span><span><img class="loadingImg" style="display: none;" src="image/loading.gif"></span></div>
 </div>
</div>
<div class="bottom">
<div class="facetView content-area left">
 <h2>Field facet</h2>
 <div class="facet"></div>
<span>
 <img class="loadingImg" style="display: none;" src="image/loading.gif"/>
</span>
</div>
<div class="right">
 <div class="content">
  </div>
   <span class="retrieveLink" href="" onclick="return false">show following</span>
   <span><img class="loadingImg" style="display: none;" src="image/loading.gif"/></span>
 </div>
</div>