<div id="bottom" class="content-area">
    <h2>Settings</h2>
    <form class="settingsForm">
        <img class="loadingImg" style="display: none;" src="image/loading.gif"/>
        <div class="formResult"></div>
        <table class="form-table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Key</th>
                <th>Comment</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
        <input type="submit" name="submit" value="submit"/>
    </form>
</div>